.white-login{
    margin-top: 50px;
    width: 950px;
    height: 530px;
    background-color: white;
    border-radius: 30px;
   
    display: flex;
}
.white-login .par .p1{
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-weight: 800;
    margin-left: 150px;
}
.par{
    height: 530px;
    width: 500px;
    padding-top: 33px;
}

.new {
    width: 465px;
    border-top-right-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
   
  }
  
  
  
.p2{
    font-size: 15px;
}


.head{
    width: 195px;
    height: 47px;
    margin-top: 120px;
    margin-left: 80px;
}
.head .p3{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 700;
}
.head2{
    width: 290px;
    height: 31;
    margin-top: 20px;
    margin-left: 45px;
}
.head2 p{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 15px;
}
.button-signup{
    width: 160px;
    height: 48px;
    margin-left: 100px;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    border: transparent;
    box-shadow: 0px 2px 2px rgba(0, 0, 0.5, 0.5);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 700;
}
.input-box{
   
   
    padding-top: 40px;
   
}
.input-box p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.input-box input {
    margin-top: 10px;
    width: 350px;
    height: 40px;
    border: none; /* Remove the border */
    outline: none; /* Remove the outline on focus */
  }
.par .p4 a{
    margin-left: 370px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.input-box .p-input{
    
    margin-left: 100px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
}
.red{
    color: red;
}
.button-Login {
    width: 380px;
    height: 58px;
    margin-top: 40px;
    margin-left: 100px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    border: transparent;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0.5, 0.7);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s ;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.button-Login:hover,
.button-Login:focus,
.button-Login:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0.5, 0.7);
    -webkit-transform: scale(1);
    transform: scale(1.05);
    
}

.button-Login .google {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    /* Adjusted margin to make room for text */
}


.new img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
}

  